.Header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
    height: 139px;
    margin-bottom: 15px;
}

#Header__Logo{
    margin: 20px 0px 15px 0px;
    cursor: pointer;
}

#Header__Logo:hover{
    filter: brightness(2);
}

#Header__Logo img{
    width: 100%;
}

.Pesquisar{
    display: flex;
    align-items: center;
    background-color: #FFF;
    height: 60px;
    padding: 0px 10px 0px 15px;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
}

.Pesquisar:hover{
    border: 2px solid #333333;
}

.Pesquisar input{
    border: none;
    outline: 0;
}


.Pesquisar button{
    padding: 0px 10px;
    background: #27AE60;
    color: #FFF;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border: 2px solid #27AE60;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
}

.Pesquisar button:hover{
    background-color: #93D7AF;
    border: 2px solid #93D7AF;
}

@media (min-width: 768px){
    .Header{
        flex-direction: row;
        justify-content: space-between;
        height: 90px;
        padding: 0px 30px;
    }
}